.richtext {
  /* Inline elements */
  & :is(p, address, pre, table) {
    @apply mb-[1.4em] sm:mb-[1.7em];
  }

  & hr {
    @apply my-[2.8em] sm:my-[3.4em];
  }

  & blockquote {
    @apply my-[2.8em] sm:my-[3.4em];

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  /* Headlines */
  & h1,
  & .headline--h1 {
    @apply my-[1.4em] sm:my-[1.7em];
  }

  & h2,
  & .headline--h2 {
    @apply my-[1.4em] sm:my-[1.7em];
  }

  & h3,
  & .headline--h3 {
    @apply my-[1.4em] sm:my-[1.7em];
  }

  & h4,
  & .headline--h4 {
    @apply my-[1.4em] sm:my-[1.7em];
  }

  & h5,
  & .headline--h5 {
    @apply mt-[1.4em] sm:mt-[1.7em];
  }

  /* Lists */
  & ul,
  & ol {
    @apply mb-[0.7em] sm:mb-[0.85em];
  }

  & .richtext__ul--fancy {
    @apply my-[0.7em] sm:my-[0.85em];

    & li {
      &:not(:last-of-type) {
        margin-bottom: 0.5em;
      }
    }
  }

  /* General */
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
