.richtext {
  & ul,
  & ol {
    grid-area: sublist;

    & > li {
      @apply grid gap-x-[0.8em] items-start justify-start;
      grid-template-columns: max-content 1fr;
      grid-template-areas:
        "bullet content"
        "bullet sublist";

      @apply before:shrink-0;
      &::before {
        grid-area: bullet;
      }
    }
  }

  & ul {
    li {
      &::before {
        content: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 15 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='pfeil' fill='%239eccc7' fill-rule='nonzero'%3E%3Cpolygon id='Path' points='8.56 12.16 5.97 12.16 11.12 7.04 0 7.04 0 5.1 11.12 5.1 5.97 0 8.56 0 14.64 6.08'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        aspect-ratio: 15 / 13;
        transform: translateY(0.01em);
        width: 0.85em;
        height: auto;
      }
    }
  }

  /* OL: counter */
  & ol {
    counter-reset: ol;

    & > li {
      &::before {
        counter-increment: ol;
        content: counters(ol, ".") ".";
      }
    }
  }
}
