@theme {
  --container-*: initial;
  --container: 100rem;

  --breakpoint-*: initial;
  --breakpoint-512: 32rem; /* 512px */
  --breakpoint-640: 40rem; /* 640px */
  --breakpoint-768: 48rem; /* 768px */
  --breakpoint-896: 56rem; /* 896px */
  --breakpoint-1024: 64rem; /* 1024px */
  --breakpoint-1280: 80rem; /* 1280px */
  --breakpoint-1536: 96rem; /* 1536px */

  --logo-offset: 1.75rem; /* 28px */
}
